/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 15px;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    font-size: 24px;
    font-weight: bold;
}

.card-body {
    padding: 15px;
    background-color: #fff;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
}

/* Thêm phần phản hồi cho hàng khi được di chuột qua */
.table tr:hover {
    background-color: #f5f5f5;
}

/* Thêm phần phản hồi cho hàng khi được chọn */
.table tr:active {
    background-color: #eaeaea;
}
