
.container {
    margin: 0 auto;
    max-width: 800px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card-header {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-color: #f8f9fa;
    color: #343a40;
}

.card-body {
    padding: 20px;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: left;
    padding: 8px;
}

.table th {
    background-color: #343a40;
    color: white;
}

.btn {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-success {
    background-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    color: white;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    color: white;
}
