/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.navigation {
    margin: 20px 0;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
    display: inline-block;
}

.btn-primary {
    background-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
}

/* Thêm phần phản hồi cho các nút */
.btn:hover {
    opacity: 0.9;
}

/* Thêm phần phản hồi cho các nút khi được nhấn */
.btn:active {
    transform: scale(0.98);
}
