.user-menu {
    position: relative;
    display: inline-block;
}

.user-submenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.user-menu:hover .user-submenu {
    display: block;
}

.logout-button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
    background: none;
    width: 100%;
    box-sizing: border-box;
}

.logout-button:hover {
    background-color: #f1f1f1;
}