.container {
    width: 80%; /* Chiều rộng của container */
    margin: auto; /* Căn giữa container */
    padding: 20px; /* Đệm xung quanh nội dung trong container */
}

.alert-success {
    color: #155724; /* Màu chữ */
    background-color: #d4edda; /* Màu nền */
    border-color: #c3e6cb; /* Màu viền */
    padding: 10px; /* Đệm xung quanh nội dung trong thông báo */
    margin-bottom: 15px; /* Khoảng cách từ thông báo đến nút tiếp theo */
}

.btn-primary {
    color: #fff; /* Màu chữ */
    background-color: #007bff; /* Màu nền */
    border-color: #007bff; /* Màu viền */
    padding: 10px 20px; /* Đệm xung quanh văn bản */
    text-decoration: none; /* Loại bỏ gạch chân */
}

.btn-primary:hover {
    background-color: #0056b3; /* Màu nền khi di chuột qua */
    border-color: #004085; /* Màu viền khi di chuột qua */
}
