
.card-header {
    text-align: center;
    font-size: 30px;
    color: #4CAF50;
    padding: 10px 0;
}
.btn-primary {
    background-color: #4CAF50; 
    border-color: #4CAF50; 
}
.btn-link {
    color: #007bff;
    text-decoration: none;
    padding: 0;
    margin-top: 8px; /* Điều chỉnh khoảng cách giữa nút và liên kết */
    font-weight: 400; /* Chỉnh lại font-weight nếu cần */
    font-size: 0.9em;
}

.btn-link:hover {
    text-decoration: underline;
}
