a#sort {
    color: #333; /* Màu chữ */
    text-decoration: none; /* Loại bỏ gạch chân */
    margin: 0 10px; /* Khoảng cách giữa các liên kết */
    padding: 5px 10px; /* Đệm xung quanh văn bản */
    border: 1px solid #ddd; /* Viền xung quanh liên kết */
    border-radius: 5px; /* Làm tròn góc của viền */
}

a#sort:hover {
    background-color: #f8f8f8; /* Màu nền khi di chuột qua */
    color: #007BFF; /* Màu chữ khi di chuột qua */
}
